.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  color: black;
  column-gap: 41px;
  height: 104px;
}
.links {
  display: flex;
  column-gap: 24px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  background: white;
  border-radius: 15px;
}
.search input 
  {
    padding: 8px;
    border: none;
}
.search input:focus 
  {
    outline: none;
}
.search button {
  padding: 8px;
    background: lightseagreen;
    border: 1px solid lightseagreen;
    color: white;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}
.footer {
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic ;
}
.bann{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
background-color: lightseagreen;
}
.ab{
  display: flex;
justify-content: space-around;
align-items: center;
height: 150px;
margin-bottom: 400px;
background-color: black;
color: white;
}
.ch{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  display: flex;
margin-left: 90px;
background-color: black;
color: white;
}
.logo img {
  height:80px;
}
a {
  text-decoration: none;
    font-size: 18px;
    font-family: math;
    font-weight: 600;
    color: black;
}
a:hover {
  text-decoration: underline;
  transition: text-decoration 2s ease;
}